In [53]:
import pandas as pd

In [54]:
delivery = pd.read_csv("E:\\2020 WPL WIDHYA\\Day 12\\deliveries.csv")
match = pd.read_csv("E:\\2020 WPL WIDHYA\\Day 12\\matches.csv")

In [55]:
#Filtering deliveries dataset by batting and bowling team
fl_dlvr = delivery[((delivery.batting_team=="Rajasthan Royals")&(delivery.bowling_team=="Sunrisers Hyderabad"))
                  |
                  ((delivery.batting_team=="Sunrisers Hyderabad")&(delivery.bowling_team=="Rajasthan Royals"))]

In [56]:
#Filtering matches dataset by match winners and seasons
fl_mtch = match[((match.winner=="Rajasthan Royals")|(match.winner=="Sunrisers Hyderabad"))
               &
               ((match.season==2019)|(match.season==2018)|(match.season==2014)|(match.season==2015))]

In [57]:
fl_dlvr

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
98439,416,1,Sunrisers Hyderabad,Rajasthan Royals,1,1,PA Reddy,S Dhawan,A Chandila,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
98440,416,1,Sunrisers Hyderabad,Rajasthan Royals,1,2,PA Reddy,S Dhawan,A Chandila,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
98441,416,1,Sunrisers Hyderabad,Rajasthan Royals,1,3,PA Reddy,S Dhawan,A Chandila,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
98442,416,1,Sunrisers Hyderabad,Rajasthan Royals,1,4,PA Reddy,S Dhawan,A Chandila,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
98443,416,1,Sunrisers Hyderabad,Rajasthan Royals,1,5,PA Reddy,S Dhawan,A Chandila,0,...,0,0,0,0,0,0,0,PA Reddy,caught,SR Watson
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175660,11336,2,Rajasthan Royals,Sunrisers Hyderabad,19,3,A Turner,SV Samson,S Kaul,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
175661,11336,2,Rajasthan Royals,Sunrisers Hyderabad,19,4,A Turner,SV Samson,S Kaul,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
175662,11336,2,Rajasthan Royals,Sunrisers Hyderabad,19,5,SV Samson,A Turner,S Kaul,0,...,0,1,0,0,1,1,2,NaN,NaN,NaN
175663,11336,2,Rajasthan Royals,Sunrisers Hyderabad,19,6,A Turner,SV Samson,S Kaul,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
175664,11336,2,Rajasthan Royals,Sunrisers Hyderabad,20,1,SV Samson,A Turner,Shakib Al Hasan,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [58]:
fl_mtch

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
460,461,2014,Abu Dhabi,2014-04-18,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,4,AM Rahane,Sheikh Zayed Stadium,BF Bowden,RK Illingworth,NaN
468,469,2014,NaN,2014-04-25,Sunrisers Hyderabad,Delhi Daredevils,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,4,0,AJ Finch,Dubai International Cricket Stadium,M Erasmus,S Ravi,NaN
470,471,2014,Abu Dhabi,2014-04-26,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,6,PV Tambe,Sheikh Zayed Stadium,HDPK Dharmasena,C Shamshuddin,NaN
475,476,2014,Abu Dhabi,2014-04-29,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,tie,0,Rajasthan Royals,0,0,JP Faulkner,Sheikh Zayed Stadium,Aleem Dar,AK Chaudhary,NaN
476,477,2014,NaN,2014-04-30,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Sunrisers Hyderabad,15,0,B Kumar,Dubai International Cricket Stadium,HDPK Dharmasena,M Erasmus,NaN
479,480,2014,Delhi,2014-05-03,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,7,KK Nair,Feroz Shah Kotla,SS Hazare,S Ravi,NaN
481,482,2014,Ahmedabad,2014-05-05,Rajasthan Royals,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Rajasthan Royals,10,0,PV Tambe,"Sardar Patel Stadium, Motera",NJ Llong,CK Nandan,NaN
486,487,2014,Ahmedabad,2014-05-08,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,normal,0,Sunrisers Hyderabad,32,0,B Kumar,"Sardar Patel Stadium, Motera",AK Chaudhary,NJ Llong,NaN
488,489,2014,Delhi,2014-05-10,Delhi Daredevils,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,1,Sunrisers Hyderabad,0,8,DW Steyn,Feroz Shah Kotla,RM Deshpande,BNJ Oxenford,NaN
491,492,2014,Bangalore,2014-05-11,Royal Challengers Bangalore,Rajasthan Royals,Royal Challengers Bangalore,bat,normal,0,Rajasthan Royals,0,5,JP Faulkner,M Chinnaswamy Stadium,S Ravi,RJ Tucker,NaN
497,498,2014,Ahmedabad,2014-05-15,Rajasthan Royals,Delhi Daredevils,Delhi Daredevils,field,normal,0,Rajasthan Royals,62,0,AM Rahane,"Sardar Patel Stadium, Motera",S Ravi,RJ Tucker,NaN
502,503,2014,Hyderabad,2014-05-20,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,bat,normal,0,Sunrisers Hyderabad,0,7,DA Warner,"Rajiv Gandhi International Stadium, Uppal",AK Chaudhary,NJ Llong,NaN
506,507,2014,Ranchi,2014-05-22,Chennai Super Kings,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,6,DA Warner,JSCA International Stadium Complex,BNJ Oxenford,C Shamshuddin,NaN
519,520,2015,Pune,2015-04-10,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,field,normal,0,Rajasthan Royals,26,0,JP Faulkner,Maharashtra Cricket Association Stadium,SD Fry,CB Gaffaney,NaN
522,523,2015,Delhi,2015-04-12,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,3,DJ Hooda,Feroz Shah Kotla,SD Fry,CB Gaffaney,NaN
524,525,2015,Bangalore,2015-04-13,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,8,DA Warner,M Chinnaswamy Stadium,RM Deshpande,RK Illingworth,NaN
525,526,2015,Ahmedabad,2015-04-14,Mumbai Indians,Rajasthan Royals,Mumbai Indians,bat,normal,0,Rajasthan Royals,0,7,SPD Smith,"Sardar Patel Stadium, Motera",AK Chaudhary,SD Fry,NaN
528,529,2015,Visakhapatnam,2015-04-16,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,6,AM Rahane,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,PG Pathak,S Ravi,NaN
532,533,2015,Ahmedabad,2015-04-19,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,normal,0,Rajasthan Royals,0,8,AM Rahane,"Sardar Patel Stadium, Motera",AK Chaudhary,M Erasmus,NaN
536,537,2015,Visakhapatnam,2015-04-22,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,1,Sunrisers Hyderabad,16,0,DA Warner,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,RK Illingworth,VA Kulkarni,NaN
543,544,2015,Chandigarh,2015-04-27,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,0,Sunrisers Hyderabad,20,0,TA Boult,"Punjab Cricket Association Stadium, Mohali",HDPK Dharmasena,CB Gaffaney,NaN
550,551,2015,Hyderabad,2015-05-02,Sunrisers Hyderabad,Chennai Super Kings,Chennai Super Kings,field,normal,0,Sunrisers Hyderabad,22,0,DA Warner,"Rajiv Gandhi International Stadium, Uppal",AK Chaudhary,K Srinivasan,NaN
552,553,2015,Mumbai,2015-05-03,Rajasthan Royals,Delhi Daredevils,Delhi Daredevils,field,normal,0,Rajasthan Royals,14,0,AM Rahane,Brabourne Stadium,HDPK Dharmasena,CB Gaffaney,NaN
557,558,2015,Mumbai,2015-05-07,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,normal,0,Sunrisers Hyderabad,7,0,EJG Morgan,Brabourne Stadium,JD Cloete,C Shamshuddin,NaN
560,561,2015,Raipur,2015-05-09,Sunrisers Hyderabad,Delhi Daredevils,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,6,0,MC Henriques,Shaheed Veer Narayan Singh International Stadium,VA Kulkarni,S Ravi,NaN
563,564,2015,Hyderabad,2015-05-11,Sunrisers Hyderabad,Kings XI Punjab,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,5,0,DA Warner,"Rajiv Gandhi International Stadium, Uppal",AK Chaudhary,HDPK Dharmasena,NaN
569,570,2015,Mumbai,2015-05-16,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,normal,0,Rajasthan Royals,9,0,SR Watson,Brabourne Stadium,RM Deshpande,RK Illingworth,NaN
639,7897,2018,Hyderabad,09/04/18,Rajasthan Royals,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,S Dhawan,"Rajiv Gandhi International Stadium, Uppal",Nigel Llong,Vineet Kulkarni,O Nandan
641,7899,2018,Jaipur,11/04/18,Rajasthan Royals,Delhi Daredevils,Delhi Daredevils,field,normal,1,Rajasthan Royals,10,0,SV Samson,Sawai Mansingh Stadium,K Ananthapadmanabhan,Rod Tucker,Nitin Menon
642,7900,2018,Hyderabad,12/04/18,Mumbai Indians,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,1,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",O Nandan,Nigel Llong,Vineet Kulkarni
645,7903,2018,Kolkata,14/04/18,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,5,B Stanlake,Eden Gardens,A Nanda Kishore,Anil Chaudhary,Chris Gaffaney
646,7904,2018,Bengaluru,15/04/18,Rajasthan Royals,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Rajasthan Royals,19,0,SV Samson,M Chinnaswamy Stadium,C Shamshuddin,S Ravi,A.D Deshmukh
656,7914,2018,Jaipur,22/04/18,Mumbai Indians,Rajasthan Royals,Mumbai Indians,bat,normal,0,Rajasthan Royals,0,3,J Archer,Sawai Mansingh Stadium,Rod Tucker,K Ananthapadmanabhan,Nitin Menon
658,7916,2018,Mumbai,24/04/18,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Sunrisers Hyderabad,31,0,Rashid Khan,Wankhede Stadium,C Shamshuddin,S Ravi,A.D Deshmukh
660,7918,2018,Hyderabad,26/04/18,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,0,Sunrisers Hyderabad,13,0,AS Rajpoot,"Rajiv Gandhi International Stadium, Uppal",O Nandan,Yeshwant Barde,Rod Tucker
663,7921,2018,Jaipur,29/04/18,Sunrisers Hyderabad,Rajasthan Royals,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,11,0,KS Williamson,Sawai Mansingh Stadium,Bruce Oxenford,A Nanda Kishore,S Ravi
671,7929,2018,Hyderabad,05/05/18,Delhi Daredevils,Sunrisers Hyderabad,Delhi Daredevils,bat,normal,0,Sunrisers Hyderabad,0,7,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",Bruce Oxenford,O Nandan,Virender Kumar Sharma
674,7932,2018,Hyderabad,07/05/18,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,5,0,KS Williamson,"Rajiv Gandhi International Stadium, Uppal",Bruce Oxenford,Virender Kumar Sharma,O Nandan
675,7933,2018,Jaipur,08/05/18,Rajasthan Royals,Kings XI Punjab,Rajasthan Royals,bat,normal,0,Rajasthan Royals,15,0,JC Buttler,Sawai Mansingh Stadium,Marais Erasmus,Nitin Menon,Yeshwant Barde
677,7935,2018,Delhi,10/05/18,Delhi Daredevils,Sunrisers Hyderabad,Delhi Daredevils,bat,normal,0,Sunrisers Hyderabad,0,9,S Dhawan,Feroz Shah Kotla,C Shamshuddin,Anil Dandekar,S Ravi
678,7936,2018,Jaipur,11/05/18,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,normal,0,Rajasthan Royals,0,4,JC Buttler,Sawai Mansingh Stadium,Marais Erasmus,Yeshwant Barde,Nitin Menon
682,7940,2018,Mumbai,13/05/18,Mumbai Indians,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,7,JC Buttler,Wankhede Stadium,Nitin Menon,S Ravi,C Shamshuddin
688,7946,2018,Jaipur,19/05/18,Rajasthan Royals,Royal Challengers Bangalore,Rajasthan Royals,bat,normal,0,Rajasthan Royals,30,0,S Gopal,Sawai Mansingh Stadium,Bruce Oxenford,Virender Kumar Sharma,C Shamshuddin
694,7952,2018,Kolkata,25/05/18,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,14,0,Rashid Khan,Eden Gardens,Nitin Menon,Kumar Dharmasena,Anil Chaudhary
703,11144,2019,Hyderabad,29/03/19,Rajasthan Royals,Sunrisers Hyderabad,Rajasthan Royals,bat,normal,0,Sunrisers Hyderabad,0,5,Rashid Khan,Rajiv Gandhi Intl. Cricket Stadium,Bruce Oxenford,C Shamshuddin,KN Anantapadmanabhan
706,11147,2019,Hyderabad,31/03/19,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,118,0,J Bairstow,Rajiv Gandhi Intl. Cricket Stadium,S Ravi,KN Anantapadmanabhan,C Shamshuddin
709,11150,2019,Jaipur,02/04/19,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,7,S Gopal,Sawai Mansingh Stadium,Marais Erasmus,Anil Dandekar,Nitin Menon
711,11152,2019,Delhi,04/04/19,Delhi Capitals,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,5,J Bairstow,Feroz Shah Kotla Ground,C Shamshuddin,KN Anantapadmanabhan,S Ravi
722,11318,2019,Mumbai,13/04/19,Mumbai Indians,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,4,JC Buttler,Wankhede Stadium,Nitin Menon,Nanda Kishore,Marais Erasmus
728,11324,2019,Hyderabad,17/04/19,Chennai Super Kings,Sunrisers Hyderabad,Chennai Super Kings,bat,normal,0,Sunrisers Hyderabad,0,6,DA Warner,Rajiv Gandhi Intl. Cricket Stadium,Ian Gould,Ulhas Gandhe,C Shamshuddin
731,11327,2019,Jaipur,20/04/19,Mumbai Indians,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,5,SPD Smith,Sawai Mansingh Stadium,S Ravi,Yeshwant Barde,O Nandan
733,11329,2019,Hyderabad,21/04/19,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,K Ahmed,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Nigel Llong,Ian Gould
738,11334,2019,Kolkata,25/04/19,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,3,VR Aaron,Eden Gardens,Ian Gould,Anil Dandekar,Nitin Menon
740,11336,2019,Jaipur,27/04/19,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,7,JD Unadkat,Sawai Mansingh Stadium,Yeshwant Barde,Nand Kishore,Sundaram Ravi
743,11339,2019,Hyderabad,29/04/19,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,0,Sunrisers Hyderabad,45,0,DA Warner,Rajiv Gandhi Intl. Cricket Stadium,S Ravi,O Nandan,Nanda Kishore

In [59]:
fl_dlvr.nunique()

match_id            11
inning               2
batting_team         2
bowling_team         2
over                20
ball                 9
batsman             64
non_striker         63
bowler              51
is_super_over        1
wide_runs            4
bye_runs             3
legbye_runs          4
noball_runs          2
penalty_runs         1
batsman_runs         7
extra_runs           5
total_runs           8
player_dismissed    55
dismissal_kind       6
fielder             43
dtype: int64

In [60]:
fl_mtch.nunique()

id                 55
season              4
city               14
date               55
team1               8
team2               8
toss_winner         8
toss_decision       2
result              2
dl_applied          2
winner              2
win_by_runs        22
win_by_wickets      9
player_of_match    27
venue              17
umpire1            26
umpire2            30
umpire3            16
dtype: int64

In [61]:
#Creating new csv dataset by merging the two filtered dataframes
detail = pd.merge(fl_mtch, fl_dlvr, left_on="id", right_on="match_id")
detail.to_csv("details.csv")

In [62]:
detail.winner.unique()

array(['Rajasthan Royals', 'Sunrisers Hyderabad'], dtype=object)

In [63]:
detail.batting_team.unique()

array(['Sunrisers Hyderabad', 'Rajasthan Royals'], dtype=object)

In [64]:
import numpy

In [65]:
detail.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3', 'match_id', 'inning', 'batting_team', 'bowling_team', 'over',
       'ball', 'batsman', 'non_striker', 'bowler', 'is_super_over',
       'wide_runs', 'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [66]:
#No ball runs
detail[detail.noball_runs==1].count()

id                  3
season              3
city                3
date                3
team1               3
team2               3
toss_winner         3
toss_decision       3
result              3
dl_applied          3
winner              3
win_by_runs         3
win_by_wickets      3
player_of_match     3
venue               3
umpire1             3
umpire2             3
umpire3             2
match_id            3
inning              3
batting_team        3
bowling_team        3
over                3
ball                3
batsman             3
non_striker         3
bowler              3
is_super_over       3
wide_runs           3
bye_runs            3
legbye_runs         3
noball_runs         3
penalty_runs        3
batsman_runs        3
extra_runs          3
total_runs          3
player_dismissed    0
dismissal_kind      0
fielder             0
dtype: int64

In [67]:
detail.season.unique()

array([2014, 2015, 2018, 2019], dtype=int64)

In [68]:
detail

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,461,2014,Abu Dhabi,2014-04-18,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,461,2014,Abu Dhabi,2014-04-18,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,461,2014,Abu Dhabi,2014-04-18,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,normal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
3,461,2014,Abu Dhabi,2014-04-18,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,461,2014,Abu Dhabi,2014-04-18,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,normal,0,...,0,0,0,0,0,0,0,AJ Finch,caught,KW Richardson
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1932,11336,2019,Jaipur,27/04/19,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1933,11336,2019,Jaipur,27/04/19,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
1934,11336,2019,Jaipur,27/04/19,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,normal,0,...,0,1,0,0,1,1,2,NaN,NaN,NaN
1935,11336,2019,Jaipur,27/04/19,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1936,11336,2019,Jaipur,27/04/19,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [69]:
match.season.unique()

array([2017, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2018,
       2019], dtype=int64)

In [70]:
match[match.winner=='Rajasthan Royals'].season.unique()

array([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2018, 2019],
      dtype=int64)

In [71]:
match[match.winner=='Sunrisers Hyderabad'].season.unique()

array([2017, 2013, 2014, 2015, 2016, 2018, 2019], dtype=int64)

In [72]:
detail[detail.noball_runs==1].count

<bound method DataFrame.count of          id  season           city        date                team1  \
555     529    2015  Visakhapatnam  2015-04-16  Sunrisers Hyderabad
1143   7897    2018      Hyderabad    09/04/18     Rajasthan Royals
1515  11144    2019      Hyderabad    29/03/19     Rajasthan Royals

                    team2          toss_winner toss_decision  result  \
555      Rajasthan Royals     Rajasthan Royals         field  normal
1143  Sunrisers Hyderabad  Sunrisers Hyderabad         field  normal
1515  Sunrisers Hyderabad     Rajasthan Royals           bat  normal

      dl_applied  ... bye_runs  legbye_runs  noball_runs penalty_runs  \
555            0  ...        0            0            1            0
1143           0  ...        0            0            1            0
1515           0  ...        0            0            1            0

     batsman_runs extra_runs total_runs player_dismissed  dismissal_kind  \
555             0          1          1              NaN             NaN
1143            2          1          3              NaN             NaN
1515            2          1          3              NaN             NaN

      fielder
555       NaN
1143      NaN
1515      NaN

[3 rows x 39 columns]>

In [76]:
detail[detail.batting_team=='Rajasthan Royals'].batsman_runs.unique()

array([4, 0, 2, 1, 6, 3], dtype=int64)

In [78]:
#Importing newly created datasets
j_butler = pd.read_csv("E:\\2020 WPL WIDHYA\\Day 12\\josbutler.csv")
s_smith = pd.read_csv("E:\\2020 WPL WIDHYA\\Day 12\\stevesmith.csv")
s_samson = pd.read_csv("E:\\2020 WPL WIDHYA\\Day 12\\sanjusamson.csv")

In [87]:
j_butler

,Batting and Fielding,Mat,No,Runs,HS,Ave,BF,SR,100,50,4s,6s,CT,ST
0,Career,54.0,7.0,1648.0,95*,35.06,"1,101",149.68,0.0,11.0,162.0,74.0,30.0,1.0
1,2020,9.0,1.0,262.0,70*,32.75,182,143.95,0.0,2.0,22.0,13.0,5.0,0.0
2,2019,8.0,0.0,311.0,89,38.87,205,151.70,0.0,3.0,38.0,14.0,8.0,0.0
3,2018,13.0,3.0,548.0,95*,54.80,353,155.24,0.0,5.0,52.0,21.0,9.0,1.0
4,2017,10.0,0.0,272.0,77,27.20,177,153.67,0.0,1.0,27.0,15.0,1.0,0.0
5,2016,14.0,3.0,255.0,41,23.18,184,138.58,0.0,0.0,23.0,11.0,7.0,0.0
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,***DATA TAKEN FROM https://www.iplt20.com/te...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,*FOR EDUCATIONAL PURPOSES ONLY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
s_smith

,Batting and Fielding,Mat,No,Runs,HS,Ave,BF,SR,100,50,4s,6s,CT,ST
0,Career,91.0,19.0,2268.0,101,36.00,"1,758",129.01,1.0,11.0,203.0,57.0,43.0,0.0
1,2020,10.0,1.0,246.0,69,27.33,190,129.47,0.0,3.0,23.0,8.0,1.0,0.0
2,2019,12.0,2.0,319.0,73*,39.87,275,116.00,0.0,3.0,30.0,4.0,3.0,0.0
3,2017,15.0,3.0,472.0,84*,39.33,387,121.96,0.0,3.0,38.0,12.0,7.0,0.0
4,2016,8.0,1.0,270.0,101,45.00,176,153.40,1.0,0.0,27.0,8.0,2.0,0.0
5,2015,14.0,1.0,293.0,79*,26.63,221,132.57,0.0,2.0,33.0,3.0,7.0,0.0
6,2014,10.0,3.0,147.0,48*,36.75,110,133.63,0.0,0.0,13.0,4.0,9.0,0.0
7,2013,7.0,3.0,159.0,41,39.75,132,120.45,0.0,0.0,15.0,4.0,4.0,0.0
8,2012,15.0,5.0,362.0,47*,40.22,267,135.58,0.0,0.0,24.0,14.0,10.0,0.0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,***DATA TAKEN FROM https://www.iplt20.com/tea...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,***FOR EDUCATIONAL PURPOSES ONLY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
s_samson

,Batting and Fielding,Mat,No,Runs,HS,Ave,BF,SR,100,50,4s,6s,CT,ST
0,Career,103.0,9.0,2445.0,102*,27.16,"1,846",132.44,2.0,12.0,180.0,108.0,50.0,6.0
1,2020,10.0,0.0,236.0,85,23.60,150,157.33,0.0,2.0,10.0,19.0,7.0,2.0
2,2019,12.0,2.0,342.0,102*,34.20,230,148.69,1.0,0.0,28.0,13.0,4.0,1.0
3,2018,15.0,1.0,441.0,92*,31.50,320,137.81,0.0,3.0,30.0,19.0,5.0,0.0
4,2017,14.0,0.0,386.0,102,27.57,273,141.39,1.0,2.0,32.0,19.0,4.0,0.0
5,2016,14.0,3.0,291.0,60,26.45,259,112.35,0.0,1.0,20.0,8.0,3.0,1.0
6,2015,14.0,1.0,204.0,76,20.40,163,125.15,0.0,1.0,16.0,8.0,9.0,0.0
7,2014,13.0,0.0,339.0,74,26.07,273,124.17,0.0,2.0,25.0,17.0,5.0,2.0
8,2013,11.0,2.0,206.0,63,25.75,178,115.73,0.0,1.0,19.0,5.0,13.0,0.0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,***DATA TAKEN FROM https://www.iplt20.com/tea...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,***FOR EDUCATIONAL PURPOSES ONLY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
s_samson.SR

0     132.44
1     157.33
2     148.69
3     137.81
4     141.39
5     112.35
6     125.15
7     124.17
8     115.73
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
Name: SR, dtype: float64

In [89]:
j_butler.SR

0    149.68
1    143.95
2    151.70
3    155.24
4    153.67
5    138.58
6       NaN
7       NaN
8       NaN
9       NaN
Name: SR, dtype: float64

In [90]:
s_smith.SR

0     129.01
1     129.47
2     116.00
3     121.96
4     153.40
5     132.57
6     133.63
7     120.45
8     135.58
9        NaN
10       NaN
11       NaN
12       NaN
Name: SR, dtype: float64

In [91]:
import numpy

In [93]:
numpy.average(s_smith.SR.dropna())

130.23

In [94]:
numpy.average(s_samson.SR.dropna())

132.78444444444443

In [95]:
numpy.average(j_butler.SR.dropna())

148.8033333333333

In [100]:
fl_dlvr[fl_dlvr['batsman'].str.contains('warner',case=False)]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
109138,461,1,Sunrisers Hyderabad,Rajasthan Royals,1,6,DA Warner,S Dhawan,DS Kulkarni,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
109144,461,1,Sunrisers Hyderabad,Rajasthan Royals,2,6,DA Warner,S Dhawan,KW Richardson,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
109145,461,1,Sunrisers Hyderabad,Rajasthan Royals,2,7,DA Warner,S Dhawan,KW Richardson,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
109147,461,1,Sunrisers Hyderabad,Rajasthan Royals,3,2,DA Warner,S Dhawan,JP Faulkner,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
109148,461,1,Sunrisers Hyderabad,Rajasthan Royals,3,3,DA Warner,S Dhawan,JP Faulkner,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175488,11336,1,Sunrisers Hyderabad,Rajasthan Royals,11,6,DA Warner,MK Pandey,JD Unadkat,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
175489,11336,1,Sunrisers Hyderabad,Rajasthan Royals,12,1,DA Warner,MK Pandey,STR Binny,0,...,0,0,0,0,1,1,2,NaN,NaN,NaN
175490,11336,1,Sunrisers Hyderabad,Rajasthan Royals,12,2,DA Warner,MK Pandey,STR Binny,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
175495,11336,1,Sunrisers Hyderabad,Rajasthan Royals,12,7,DA Warner,MK Pandey,STR Binny,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
175496,11336,1,Sunrisers Hyderabad,Rajasthan Royals,13,1,DA Warner,MK Pandey,O Thomas,0,...,0,0,0,0,0,0,0,DA Warner,caught,SPD Smith

In [105]:
detail[detail.batsman=='DA Warner'].dismissal_kind.dropna().unique

<bound method Series.unique of 82       caught
315     stumped
766      caught
1634     caught
1768     caught
Name: dismissal_kind, dtype: object>

In [106]:
fl_dlvr[fl_dlvr['bowler'].str.contains('khan',case=False)]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
151233,7897,1,Rajasthan Royals,Sunrisers Hyderabad,8,1,BA Stokes,SV Samson,Rashid Khan,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
151234,7897,1,Rajasthan Royals,Sunrisers Hyderabad,8,2,BA Stokes,SV Samson,Rashid Khan,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
151235,7897,1,Rajasthan Royals,Sunrisers Hyderabad,8,3,BA Stokes,SV Samson,Rashid Khan,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
151236,7897,1,Rajasthan Royals,Sunrisers Hyderabad,8,4,BA Stokes,SV Samson,Rashid Khan,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
151237,7897,1,Rajasthan Royals,Sunrisers Hyderabad,8,5,SV Samson,BA Stokes,Rashid Khan,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175628,11336,2,Rajasthan Royals,Sunrisers Hyderabad,14,2,SV Samson,SPD Smith,Rashid Khan,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
175629,11336,2,Rajasthan Royals,Sunrisers Hyderabad,14,3,SPD Smith,SV Samson,Rashid Khan,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
175630,11336,2,Rajasthan Royals,Sunrisers Hyderabad,14,4,SV Samson,SPD Smith,Rashid Khan,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
175631,11336,2,Rajasthan Royals,Sunrisers Hyderabad,14,5,SV Samson,SPD Smith,Rashid Khan,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
175632,11336,2,Rajasthan Royals,Sunrisers Hyderabad,14,6,SPD Smith,SV Samson,Rashid Khan,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [116]:
#rashid khan wicket 
a=detail[(detail.bowler=='Rashid Khan')&(detail.dismissal_kind)].over.dropna()

In [117]:
numpy.average(a)

11.5

In [126]:
detail[detail.winner=='Rajasthan Royals'].toss_winner.value_counts()

Rajasthan Royals    735
Name: toss_winner, dtype: int64

In [127]:
detail[detail.winner=='Sunrisers Hyderabad'].toss_winner.value_counts()

Rajasthan Royals       737
Sunrisers Hyderabad    465
Name: toss_winner, dtype: int64

In [133]:
detail[detail.winner=='Rajasthan Royals'].toss_decision.value_counts()

field    735
Name: toss_decision, dtype: int64

In [129]:
detail[detail.winner=='Sunrisers Hyderabad'].toss_decision.value_counts()

field    718
bat      484
Name: toss_decision, dtype: int64

In [130]:
detail[detail.winner=='Rajasthan Royals'].dl_applied.value_counts()

0    735
Name: dl_applied, dtype: int64

In [131]:
detail[detail.winner=='Sunrisers Hyderabad'].dl_applied.value_counts()

0    1202
Name: dl_applied, dtype: int64

In [135]:
detail[detail.toss_decision=='bat'].winner.value_counts()

Sunrisers Hyderabad    484
Name: winner, dtype: int64

In [136]:
detail[detail.toss_decision=='field'].winner.value_counts()

Rajasthan Royals       735
Sunrisers Hyderabad    718
Name: winner, dtype: int64

In [137]:
#optional
detail[(detail.toss_decision=='bat')|(detail.dl_applied==1)].winner.value_counts()

Series([], Name: winner, dtype: int64)

In [145]:
#optional
detail[(detail.toss_decision=='field')|(detail.dl_applied==1)].winner.value_counts()

Rajasthan Royals       735
Sunrisers Hyderabad    718
Name: winner, dtype: int64