In [1]:
import pandas as pd

In [2]:
deliveries=pd.read_csv("E:\\2020 WPL WIDHYA\\Day 14\\deliveries.csv")
matches=pd.read_csv("E:\\2020 WPL WIDHYA\\Day 14\\matches.csv")

In [4]:
fl_dlv=deliveries[((deliveries.batting_team=='Kings XI Punjab')&(deliveries.bowling_team=='Sunrisers Hyderabad'))
                 |
                 ((deliveries.batting_team=='Sunrisers Hyderabad')&(deliveries.bowling_team=='Kings XI Punjab'))]
fl_dlv

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
4312,19,1,Sunrisers Hyderabad,Kings XI Punjab,1,1,DA Warner,S Dhawan,Sandeep Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4313,19,1,Sunrisers Hyderabad,Kings XI Punjab,1,2,DA Warner,S Dhawan,Sandeep Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4314,19,1,Sunrisers Hyderabad,Kings XI Punjab,1,3,DA Warner,S Dhawan,Sandeep Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4315,19,1,Sunrisers Hyderabad,Kings XI Punjab,1,4,DA Warner,S Dhawan,Sandeep Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
4316,19,1,Sunrisers Hyderabad,Kings XI Punjab,1,5,S Dhawan,DA Warner,Sandeep Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176407,11339,2,Kings XI Punjab,Sunrisers Hyderabad,20,2,M Ur Rahman,M Ashwin,S Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
176408,11339,2,Kings XI Punjab,Sunrisers Hyderabad,20,3,M Ur Rahman,M Ashwin,S Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
176409,11339,2,Kings XI Punjab,Sunrisers Hyderabad,20,4,M Ur Rahman,M Ashwin,S Sharma,0,...,0,0,0,0,0,0,0,M Ur Rahman,bowled,NaN
176410,11339,2,Kings XI Punjab,Sunrisers Hyderabad,20,5,Mohammed Shami,M Ashwin,S Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
176411,11339,2,Kings XI Punjab,Sunrisers Hyderabad,20,6,M Ashwin,Mohammed Shami,S Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [5]:
fl_mtc=matches[((matches.team1=='Sunrisers Hyderabad')&(matches.team2=='Kings XI Punjab'))
               |
              ((matches.team1=='Kings XI Punjab')&(matches.team2=='Sunrisers Hyderabad'))]
fl_mtc

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
18,19,2017,Hyderabad,2017-04-17,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,0,Sunrisers Hyderabad,5,0,B Kumar,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,A Deshmukh,NaN
31,32,2017,Chandigarh,2017-04-28,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,0,Sunrisers Hyderabad,26,0,Rashid Khan,"Punjab Cricket Association IS Bindra Stadium, ...",Nitin Menon,CK Nandan,NaN
404,405,2013,Hyderabad,2013-04-19,Kings XI Punjab,Sunrisers Hyderabad,Kings XI Punjab,bat,normal,0,Sunrisers Hyderabad,0,5,GH Vihari,"Rajiv Gandhi International Stadium, Uppal",HDPK Dharmasena,CK Nandan,NaN
439,440,2013,Chandigarh,2013-05-11,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,0,Sunrisers Hyderabad,30,0,PA Patel,"Punjab Cricket Association Stadium, Mohali",S Das,RJ Tucker,NaN
465,466,2014,Sharjah,2014-04-22,Kings XI Punjab,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Kings XI Punjab,72,0,GJ Maxwell,Sharjah Cricket Stadium,M Erasmus,S Ravi,NaN
495,496,2014,Hyderabad,2014-05-14,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,WP Saha,"Rajiv Gandhi International Stadium, Uppal",VA Kulkarni,PG Pathak,NaN
543,544,2015,Chandigarh,2015-04-27,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,0,Sunrisers Hyderabad,20,0,TA Boult,"Punjab Cricket Association Stadium, Mohali",HDPK Dharmasena,CB Gaffaney,NaN
563,564,2015,Hyderabad,2015-05-11,Sunrisers Hyderabad,Kings XI Punjab,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,5,0,DA Warner,"Rajiv Gandhi International Stadium, Uppal",AK Chaudhary,HDPK Dharmasena,NaN
593,594,2016,Hyderabad,2016-04-23,Kings XI Punjab,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,5,Mustafizur Rahman,"Rajiv Gandhi International Stadium, Uppal",AK Chaudhary,CK Nandan,NaN
621,622,2016,Chandigarh,2016-05-15,Kings XI Punjab,Sunrisers Hyderabad,Kings XI Punjab,bat,normal,0,Sunrisers Hyderabad,0,7,HM Amla,"Punjab Cricket Association IS Bindra Stadium, ...",KN Ananthapadmanabhan,M Erasmus,NaN
651,7909,2018,Mohali,19/04/18,Kings XI Punjab,Sunrisers Hyderabad,Kings XI Punjab,bat,normal,0,Kings XI Punjab,15,0,CH Gayle,"Punjab Cricket Association IS Bindra Stadium, ...",Nigel Llong,Anil Chaudhary,Vineet Kulkarni
660,7918,2018,Hyderabad,26/04/18,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,0,Sunrisers Hyderabad,13,0,AS Rajpoot,"Rajiv Gandhi International Stadium, Uppal",O Nandan,Yeshwant Barde,Rod Tucker
717,11313,2019,Mohali,08/04/19,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,KL Rahul,IS Bindra Stadium,Marais Erasmus,Anil Dandekar,Nitin Menon
743,11339,2019,Hyderabad,29/04/19,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,0,Sunrisers Hyderabad,45,0,DA Warner,Rajiv Gandhi Intl. Cricket Stadium,S Ravi,O Nandan,Nanda Kishore

In [7]:
match_details=pd.merge(left=fl_mtc, right=fl_dlv, left_on='id', right_on='match_id')
match_details.to_csv('plays.csv')

In [8]:
play_info=pd.read_csv('E:\\2020 WPL WIDHYA\\Day 14\\plays.csv')
play_info

,Unnamed: 0,id,season,city,date,team1,team2,toss_winner,toss_decision,result,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,0,19,2017,Hyderabad,2017-04-17,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,19,2017,Hyderabad,2017-04-17,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,2,19,2017,Hyderabad,2017-04-17,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3,3,19,2017,Hyderabad,2017-04-17,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,...,0,0,0,0,1,0,1,NaN,NaN,NaN
4,4,19,2017,Hyderabad,2017-04-17,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,...,0,0,0,0,1,0,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3415,3415,11339,2019,Hyderabad,29/04/19,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3416,3416,11339,2019,Hyderabad,29/04/19,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3417,3417,11339,2019,Hyderabad,29/04/19,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,...,0,0,0,0,0,0,0,M Ur Rahman,bowled,NaN
3418,3418,11339,2019,Hyderabad,29/04/19,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,...,0,0,0,0,1,0,1,NaN,NaN,NaN
3419,3419,11339,2019,Hyderabad,29/04/19,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [9]:
play_info.season.unique()

array([2017, 2013, 2014, 2015, 2016, 2018, 2019], dtype=int64)

In [10]:
details=play_info[(play_info.season==2016)|(play_info.season==2017)|(play_info.season==2018)|(play_info.season==2019)]

In [12]:
details.nunique()

Unnamed: 0          1961
id                     8
season                 4
city                   3
date                   8
team1                  2
team2                  2
toss_winner            2
toss_decision          2
result                 1
dl_applied             1
winner                 2
win_by_runs            6
win_by_wickets         4
player_of_match        8
venue                  4
umpire1                8
umpire2                7
umpire3                4
match_id               8
inning                 2
batting_team           2
bowling_team           2
over                  20
ball                   9
batsman               52
non_striker           50
bowler                38
is_super_over          1
wide_runs              5
bye_runs               3
legbye_runs            5
noball_runs            2
penalty_runs           1
batsman_runs           7
extra_runs             6
total_runs             9
player_dismissed      45
dismissal_kind         7
fielder               31
dtype: int64

In [13]:
d_wrnr=pd.read_csv("E:\\2020 WPL WIDHYA\\Day 14\\davidwarner.csv")
d_wrnr

,Batting and Fielding,Mat,No,Runs,HS,Ave,BF,SR,100,50,4s,6s,CT,ST
0,Career,136,18,5041,126,42.72,"3,575",141.00,4,46,486,189,59,0
1,2020,10,1,335,60,37.22,270,124.07,0,2,28,8,5,0
2,2019,12,2,692,100*,69.20,481,143.86,1,8,57,21,2,0
3,2017,14,3,641,126,58.27,452,141.81,1,4,63,26,10,0
4,2016,17,3,848,93*,60.57,560,151.42,0,9,88,31,4,0
5,2015,14,1,562,91,43.23,359,156.54,0,7,65,21,8,0
6,2014,14,3,528,90,48.00,375,140.80,0,6,39,24,8,0
7,2013,16,3,410,77,31.53,323,126.93,0,4,41,14,6,0
8,2012,8,1,256,109*,36.57,156,164.10,1,1,28,14,1,0
9,2011,13,0,324,77,24.92,276,117.39,0,3,34,11,4,0
10,2010,11,1,282,107*,28.20,191,147.64,1,1,27,14,8,0
11,2009,7,0,163,51,23.28,132,123.48,0,1,16,5,3,0

In [15]:
import numpy
numpy.average(d_wrnr.SR) #average strike rate throughout all seasons played

139.92

In [16]:
numpy.std(d_wrnr.SR)

13.758690586922384

In [17]:
numpy.average(d_wrnr.No) #average not out rate

3.0

In [20]:
numpy.average(d_wrnr.Ave)

41.975833333333334

In [29]:
kxip_2019=details[(details.batting_team=='Kings XI Punjab')&(details.season==2019)].total_runs.sum()
kxip_2019

326

In [30]:
kxip_2018=details[(details.batting_team=='Kings XI Punjab')&(details.season==2018)].total_runs.sum()
kxip_2018

322

In [31]:
kxip_2017=details[(details.batting_team=='Kings XI Punjab')&(details.season==2017)].total_runs.sum()
kxip_2017

335

In [32]:
kxip_2016=details[(details.batting_team=='Kings XI Punjab')&(details.season==2016)].total_runs.sum()
kxip_2016

322

In [33]:
rahul_2019=details[(details.batsman=='KL Rahul')&(details.season==2019)].batsman_runs.sum()
rahul_2019

155

In [34]:
rahul_2018=details[(details.batsman=='KL Rahul')&(details.season==2018)].batsman_runs.sum()
rahul_2018

50

In [36]:
rahul_2017=details[(details.batsman=='KL Rahul')&(details.season==2017)].batsman_runs.sum()
rahul_2017

0

In [37]:
rahul_2016=details[(details.batsman=='KL Rahul')&(details.season==2016)].batsman_runs.sum()
rahul_2016

0

In [39]:
details[details['batsman'].str.contains('rahul',case=False)].season.unique()

array([2018, 2019], dtype=int64)

In [41]:
(rahul_2019/kxip_2019)*100

47.54601226993865

In [42]:
(rahul_2018/kxip_2018)*100

15.527950310559005

In [44]:
trial=pd.merge(left=matches, right=deliveries, left_on='id', right_on='match_id')

In [45]:
trial.to_csv('dummy.csv')

In [46]:
prct_dummy=pd.read_csv('E:\\2020 WPL WIDHYA\\Day 14\\dummy.csv')
prct_dummy

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,id,season,city,date,team1,team2,toss_winner,toss_decision,result,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,2,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,3,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,4,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,179073,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,179074,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,179075,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,179076,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,179077,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [48]:
prct_dummy[(prct_dummy.batsman=='KL Rahul')&(prct_dummy.season==2016)].batsman_runs.sum()

397

In [49]:
prct_dummy[(prct_dummy.batsman=='KL Rahul')&(prct_dummy.season==2015)].batsman_runs.sum()

142

In [51]:
prct_dummy[prct_dummy['batsman'].str.contains('rahul',case=False)].batting_team.unique()

array(['Royal Challengers Bangalore', 'Sunrisers Hyderabad',
       'Kings XI Punjab'], dtype=object)

In [55]:
details[details.winner=='Sunrisers Hyderabad'].toss_winner.value_counts()

Kings XI Punjab        1231
Sunrisers Hyderabad     235
Name: toss_winner, dtype: int64

In [56]:
details[details.winner=='Sunrisers Hyderabad'].toss_winner.value_counts()

Kings XI Punjab        1231
Sunrisers Hyderabad     235
Name: toss_winner, dtype: int64

In [57]:
details[details.winner=='Kings XI Punjab'].toss_winner.value_counts()

Kings XI Punjab    495
Name: toss_winner, dtype: int64

In [58]:
details[details.winner=='Sunrisers Hyderabad'].toss_decision.value_counts()

field    1223
bat       243
Name: toss_decision, dtype: int64

In [59]:
details[details.winner=='Kings XI Punjab'].toss_decision.value_counts()

bat      253
field    242
Name: toss_decision, dtype: int64

In [62]:
details[details.winner=='Sunrisers Hyderabad'].dl_applied.value_counts()

0    1466
Name: dl_applied, dtype: int64

In [63]:
details[details.winner=='Kings XI Punjab'].dl_applied.value_counts()

0    495
Name: dl_applied, dtype: int64