In [1]:
import pandas as pd

In [2]:
delivery=pd.read_csv("E:\\2020 WPL WIDHYA\\Day 13\\deliveries.csv")
match=pd.read_csv("E:\\2020 WPL WIDHYA\\Day 13\\matches.csv")

In [3]:
fl_deli=delivery[((delivery.batting_team=='Chennai Super Kings')&(delivery.bowling_team=='Mumbai Indians'))
                |
                ((delivery.batting_team=='Mumbai Indians')&(delivery.bowling_team=='Chennai Super Kings'))]
fl_deli

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
15486,67,1,Chennai Super Kings,Mumbai Indians,1,1,PA Patel,ML Hayden,SM Pollock,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
15487,67,1,Chennai Super Kings,Mumbai Indians,1,2,PA Patel,ML Hayden,SM Pollock,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
15488,67,1,Chennai Super Kings,Mumbai Indians,1,3,PA Patel,ML Hayden,SM Pollock,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
15489,67,1,Chennai Super Kings,Mumbai Indians,1,4,PA Patel,ML Hayden,SM Pollock,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
15490,67,1,Chennai Super Kings,Mumbai Indians,1,5,PA Patel,ML Hayden,SM Pollock,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [4]:
fl_deli.shape

(6812, 21)

In [8]:
fl_deli.describe()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,6812.000000,6812.000000,6812.000000,6812.000000,6812.0,6812.000000,6812.000000,6812.000000,6812.000000,6812.0,6812.000000,6812.000000,6812.000000
mean,2466.662361,1.489724,10.283324,3.636671,0.0,0.041985,0.003376,0.020552,0.004404,0.0,1.235026,0.070317,1.305344
std,4107.186261,0.499931,5.691104,1.822137,0.0,0.267671,0.094576,0.195051,0.066221,0.0,1.632276,0.346833,1.630934
min,67.000000,1.000000,1.000000,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,234.000000,1.000000,5.000000,2.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
50%,454.000000,1.000000,10.000000,4.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,1.000000
75%,576.000000,2.000000,15.000000,5.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,1.000000
max,11415.000000,2.000000,20.000000,9.000000,0.0,5.000000,4.000000,4.000000,1.000000,0.0,7.000000,5.000000,8.000000

In [10]:
fl_deli.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6812 entries, 15486 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          6812 non-null   int64
 1   inning            6812 non-null   int64
 2   batting_team      6812 non-null   object
 3   bowling_team      6812 non-null   object
 4   over              6812 non-null   int64
 5   ball              6812 non-null   int64
 6   batsman           6812 non-null   object
 7   non_striker       6812 non-null   object
 8   bowler            6812 non-null   object
 9   is_super_over     6812 non-null   int64
 10  wide_runs         6812 non-null   int64
 11  bye_runs          6812 non-null   int64
 12  legbye_runs       6812 non-null   int64
 13  noball_runs       6812 non-null   int64
 14  penalty_runs      6812 non-null   int64
 15  batsman_runs      6812 non-null   int64
 16  extra_runs        6812 non-null   int64
 17  total_runs        6812 non-null   int64
 18  player_dismissed  342 non-null    object
 19  dismissal_kind    342 non-null    object
 20  fielder           255 non-null    object
dtypes: int64(13), object(8)
memory usage: 1.1+ MB

In [11]:
fl_mat=match[((match.team1=='Chennai Super Kings')&(match.team2=='Mumbai Indians'))
            |
            ((match.team1=='Mumbai Indians')&(match.team2=='Chennai Super Kings'))]
fl_mat

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
66,67,2008,Chennai,2008-04-23,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,normal,0,Chennai Super Kings,6,0,ML Hayden,"MA Chidambaram Stadium, Chepauk",DJ Harper,GA Pratapkumar,NaN
95,96,2008,Mumbai,2008-05-14,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,ST Jayasuriya,Wankhede Stadium,BR Doctrove,AM Saheba,NaN
117,118,2009,Cape Town,2009-04-18,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,0,Mumbai Indians,19,0,SR Tendulkar,Newlands,BR Doctrove,K Hariharan,NaN
161,162,2009,Port Elizabeth,2009-05-16,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Chennai Super Kings,0,7,ML Hayden,St George's Park,SK Tarapore,SJA Taufel,NaN
193,194,2010,Mumbai,2010-03-25,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,5,SR Tendulkar,Brabourne Stadium,BF Bowden,AM Saheba,NaN
210,211,2010,Chennai,2010-04-06,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Chennai Super Kings,24,0,SK Raina,"MA Chidambaram Stadium, Chepauk",S Asnani,DJ Harper,NaN
233,234,2010,Mumbai,2010-04-25,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Chennai Super Kings,22,0,SK Raina,Dr DY Patil Sports Academy,RE Koertzen,SJA Taufel,NaN
256,257,2011,Mumbai,2011-04-22,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,0,Mumbai Indians,8,0,Harbhajan Singh,Wankhede Stadium,Asad Rauf,AM Saheba,NaN
307,308,2012,Chennai,2012-04-04,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,8,RE Levi,"MA Chidambaram Stadium, Chepauk",JD Cloete,SJA Taufel,NaN
354,355,2012,Mumbai,2012-05-06,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,2,DR Smith,Wankhede Stadium,Asad Rauf,S Asnani,NaN
378,379,2012,Bangalore,2012-05-23,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,normal,0,Chennai Super Kings,38,0,MS Dhoni,M Chinnaswamy Stadium,BF Bowden,HDPK Dharmasena,NaN
385,386,2013,Chennai,2013-04-06,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,9,0,KA Pollard,"MA Chidambaram Stadium, Chepauk",M Erasmus,VA Kulkarni,NaN
429,430,2013,Mumbai,2013-05-05,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,60,0,MG Johnson,Wankhede Stadium,HDPK Dharmasena,CK Nandan,NaN
453,454,2013,Delhi,2013-05-21,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Chennai Super Kings,48,0,MEK Hussey,Feroz Shah Kotla,NJ Llong,RJ Tucker,NaN
456,457,2013,Kolkata,2013-05-26,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,23,0,KA Pollard,Eden Gardens,HDPK Dharmasena,SJA Taufel,NaN
469,470,2014,NaN,2014-04-25,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Chennai Super Kings,0,7,MM Sharma,Dubai International Cricket Stadium,BF Bowden,M Erasmus,NaN
489,490,2014,Mumbai,2014-05-10,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,4,DR Smith,Wankhede Stadium,HDPK Dharmasena,VA Kulkarni,NaN
514,515,2014,Mumbai,2014-05-28,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,7,SK Raina,Brabourne Stadium,VA Kulkarni,BNJ Oxenford,NaN
529,530,2015,Mumbai,2015-04-17,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Chennai Super Kings,0,6,A Nehra,Wankhede Stadium,AK Chaudhary,M Erasmus,NaN
558,559,2015,Chennai,2015-05-08,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,HH Pandya,"MA Chidambaram Stadium, Chepauk",CB Gaffaney,CK Nandan,NaN
572,573,2015,Mumbai,2015-05-19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,25,0,KA Pollard,Wankhede Stadium,HDPK Dharmasena,RK Illingworth,NaN
575,576,2015,Kolkata,2015-05-24,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,0,Mumbai Indians,41,0,RG Sharma,Eden Gardens,HDPK Dharmasena,RK Illingworth,NaN
636,7894,2018,Mumbai,07/04/18,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,1,DJ Bravo,Wankhede Stadium,Chris Gaffaney,A Nanda Kishore,Anil Chaudhary
662,7920,2018,Pune,28/04/18,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,8,RG Sharma,Maharashtra Cricket Association Stadium,Chris Gaffaney,Nitin Menon,Anil Dandekar
710,11151,2019,Mumbai,03/04/19,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,0,Mumbai Indians,37,0,HH Pandya,Wankhede Stadium,Bruce Oxenford,Rod Tucker,Yeshwant Barde
739,11335,2019,Chennai,26/04/19,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,0,Mumbai Indians,46,0,RG Sharma,M. A. Chidambaram Stadium,Nigel Llong,Anil Chaudhary,Vineet Kulkarni
752,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
755,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [14]:
fl_deli.match_id.unique()

array([   67,    96,   118,   162,   194,   211,   234,   257,   308,
         355,   379,   386,   430,   454,   457,   470,   490,   515,
         530,   559,   573,   576,  7894,  7920, 11151, 11335, 11412,
       11415], dtype=int64)

In [15]:
fl_mat.id.unique()

array([   67,    96,   118,   162,   194,   211,   234,   257,   308,
         355,   379,   386,   430,   454,   457,   470,   490,   515,
         530,   559,   573,   576,  7894,  7920, 11151, 11335, 11412,
       11415], dtype=int64)

In [16]:
mat_deli=pd.merge(fl_mat, fl_deli, left_on='id',right_on='match_id')
mat_deli.to_csv('matchinfo.csv')

In [17]:
play_info=pd.read_csv("E:\\2020 WPL WIDHYA\\Day 13\\matchinfo.csv")
play_info.describe()

,Unnamed: 0,id,season,dl_applied,win_by_runs,win_by_wickets,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,6812.000000,6812.000000,6812.000000,6812.0,6812.000000,6812.000000,6812.000000,6812.000000,6812.000000,6812.000000,6812.0,6812.000000,6812.000000,6812.000000,6812.000000,6812.0,6812.000000,6812.000000,6812.000000
mean,3405.500000,2466.662361,2013.458162,0.0,14.452143,2.652085,2466.662361,1.489724,10.283324,3.636671,0.0,0.041985,0.003376,0.020552,0.004404,0.0,1.235026,0.070317,1.305344
std,1966.599349,4107.186261,3.399566,0.0,18.028882,3.266408,4107.186261,0.499931,5.691104,1.822137,0.0,0.267671,0.094576,0.195051,0.066221,0.0,1.632276,0.346833,1.630934
min,0.000000,67.000000,2008.000000,0.0,0.000000,0.000000,67.000000,1.000000,1.000000,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,1702.750000,234.000000,2010.000000,0.0,0.000000,0.000000,234.000000,1.000000,5.000000,2.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
50%,3405.500000,454.000000,2013.000000,0.0,6.000000,0.000000,454.000000,1.000000,10.000000,4.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,1.000000
75%,5108.250000,576.000000,2015.000000,0.0,24.000000,6.000000,576.000000,2.000000,15.000000,5.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,1.000000
max,6811.000000,11415.000000,2019.000000,0.0,60.000000,9.000000,11415.000000,2.000000,20.000000,9.000000,0.0,5.000000,4.000000,4.000000,1.000000,0.0,7.000000,5.000000,8.000000

In [18]:
play_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6812 entries, 0 to 6811
Data columns (total 40 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        6812 non-null   int64
 1   id                6812 non-null   int64
 2   season            6812 non-null   int64
 3   city              6575 non-null   object
 4   date              6812 non-null   object
 5   team1             6812 non-null   object
 6   team2             6812 non-null   object
 7   toss_winner       6812 non-null   object
 8   toss_decision     6812 non-null   object
 9   result            6812 non-null   object
 10  dl_applied        6812 non-null   int64
 11  winner            6812 non-null   object
 12  win_by_runs       6812 non-null   int64
 13  win_by_wickets    6812 non-null   int64
 14  player_of_match   6812 non-null   object
 15  venue             6812 non-null   object
 16  umpire1           6812 non-null   object
 17  umpire2           6812 non-null   object
 18  umpire3           1465 non-null   object
 19  match_id          6812 non-null   int64
 20  inning            6812 non-null   int64
 21  batting_team      6812 non-null   object
 22  bowling_team      6812 non-null   object
 23  over              6812 non-null   int64
 24  ball              6812 non-null   int64
 25  batsman           6812 non-null   object
 26  non_striker       6812 non-null   object
 27  bowler            6812 non-null   object
 28  is_super_over     6812 non-null   int64
 29  wide_runs         6812 non-null   int64
 30  bye_runs          6812 non-null   int64
 31  legbye_runs       6812 non-null   int64
 32  noball_runs       6812 non-null   int64
 33  penalty_runs      6812 non-null   int64
 34  batsman_runs      6812 non-null   int64
 35  extra_runs        6812 non-null   int64
 36  total_runs        6812 non-null   int64
 37  player_dismissed  342 non-null    object
 38  dismissal_kind    342 non-null    object
 39  fielder           255 non-null    object
dtypes: int64(19), object(21)
memory usage: 2.1+ MB

In [19]:
play_info.batting_team.unique()

array(['Chennai Super Kings', 'Mumbai Indians'], dtype=object)

In [20]:
play_info.winner.unique()

array(['Chennai Super Kings', 'Mumbai Indians'], dtype=object)

In [22]:
play_info[play_info.bowler=='TA Boult']

Empty DataFrame
Columns: [Unnamed: 0, id, season, city, date, team1, team2, toss_winner, toss_decision, result, dl_applied, winner, win_by_runs, win_by_wickets, player_of_match, venue, umpire1, umpire2, umpire3, match_id, inning, batting_team, bowling_team, over, ball, batsman, non_striker, bowler, is_super_over, wide_runs, bye_runs, legbye_runs, noball_runs, penalty_runs, batsman_runs, extra_runs, total_runs, player_dismissed, dismissal_kind, fielder]
Index: []

[0 rows x 40 columns]

In [31]:
#Overs having 6 and 4 runs scored together
runs_a=play_info[(play_info.total_runs==6)|(play_info.total_runs==4)].over.unique()
runs_a

array([ 1,  2,  3,  5,  6,  9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20,  4,
        8,  7, 15], dtype=int64)

In [32]:
#Overs having 6 and 4 runs scored together value
runs_b=play_info[(play_info.total_runs==6)|(play_info.total_runs==4)].over.value_counts()
runs_b

6     84
5     82
4     75
19    68
20    64
18    64
17    63
16    60
2     59
14    58
3     52
11    52
15    51
10    44
9     41
12    40
13    38
7     35
1     33
8     29
Name: over, dtype: int64

In [33]:
import numpy as np

In [35]:
np.mean(runs_a)

10.5

In [37]:
game_info=play_info[(play_info.season==2019)|(play_info.season==2018)|(play_info.season==2017)|(play_info.season==2016)]
game_info

,Unnamed: 0,id,season,city,date,team1,team2,toss_winner,toss_decision,result,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
5347,5347,7894,2018,Mumbai,07/04/18,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5348,5348,7894,2018,Mumbai,07/04/18,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5349,5349,7894,2018,Mumbai,07/04/18,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5350,5350,7894,2018,Mumbai,07/04/18,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,...,0,0,0,0,4,0,4,NaN,NaN,NaN
5351,5351,7894,2018,Mumbai,07/04/18,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,...,0,0,0,0,1,0,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6807,6807,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,1,0,1,NaN,NaN,NaN
6808,6808,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,2,0,2,NaN,NaN,NaN
6809,6809,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
6810,6810,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,2,0,2,NaN,NaN,NaN
6811,6811,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [39]:
#6 and 4 runs after filtering
runs_a=game_info[(game_info.total_runs==6)|(game_info.total_runs==4)].over.unique()
runs_a

array([ 1,  4,  5,  6,  8,  9, 11, 12, 14, 15, 17, 19,  2, 13, 16, 18, 20,
        3,  7, 10], dtype=int64)

In [41]:
#6 and 4 runs value counting after filtering
runs_b=game_info[(game_info.total_runs==6)|(game_info.total_runs==4)].over.value_counts()
runs_b

19    19
5     18
4     17
16    16
18    14
11    14
20    13
6     13
3     12
14    11
1     10
15    10
17     9
2      9
12     8
9      7
7      6
10     6
8      5
13     3
Name: over, dtype: int64

In [42]:
np.average(runs_b)

11.0

In [43]:
np.mean(runs_a)

10.5

In [44]:
np.mean(runs_a)

10.5

In [46]:
np.var(runs_a)

33.25

In [47]:
np.std(runs_a)

5.766281297335398

In [48]:
import itertools as it

In [58]:
it.combinations(game_info[(game_info.total_runs==6)|(game_info.total_runs==4)].dropna(),2)

In [53]:
it.combinations(runs_a,2)

In [56]:
it.permutations(runs_a,2)

In [64]:
#Bowler lethality score=
#((no.of wickets+no.of dot balls bowled)-(no.of boundaries scored/no.of boundaries scored off the bowler))/total no.of balls bowled by the bowler in the match

In [71]:
dot_balls=game_info[(game_info.batsman_runs==0)&(game_info.total_runs==0)].ball
dot_balls.count()

573

In [73]:
game_info[game_info['batsman'].str.contains('kock',case=False)]

,Unnamed: 0,id,season,city,date,team1,team2,toss_winner,toss_decision,result,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
5840,5840,11151,2019,Mumbai,03/04/19,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5841,5841,11151,2019,Mumbai,03/04/19,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5842,5842,11151,2019,Mumbai,03/04/19,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5843,5843,11151,2019,Mumbai,03/04/19,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5844,5844,11151,2019,Mumbai,03/04/19,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,...,0,1,0,0,1,1,2,NaN,NaN,NaN
5853,5853,11151,2019,Mumbai,03/04/19,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,...,0,0,0,0,4,0,4,NaN,NaN,NaN
5854,5854,11151,2019,Mumbai,03/04/19,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,...,0,0,0,0,0,0,0,Q de Kock,caught,KM Jadhav
6094,6094,11335,2019,Chennai,26/04/19,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6095,6095,11335,2019,Chennai,26/04/19,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,...,0,0,0,0,3,0,3,NaN,NaN,NaN
6099,6099,11335,2019,Chennai,26/04/19,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6100,6100,11335,2019,Chennai,26/04/19,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,...,0,0,0,0,1,0,1,NaN,NaN,NaN
6102,6102,11335,2019,Chennai,26/04/19,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,...,0,0,0,0,1,0,1,NaN,NaN,NaN
6104,6104,11335,2019,Chennai,26/04/19,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,...,0,0,0,0,6,0,6,NaN,NaN,NaN
6105,6105,11335,2019,Chennai,26/04/19,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,...,0,0,0,0,4,0,4,NaN,NaN,NaN
6106,6106,11335,2019,Chennai,26/04/19,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6107,6107,11335,2019,Chennai,26/04/19,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,...,0,0,0,0,1,1,2,NaN,NaN,NaN
6108,6108,11335,2019,Chennai,26/04/19,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,...,0,0,0,0,0,0,0,Q de Kock,caught,AT Rayudu
6457,6457,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6458,6458,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6459,6459,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6460,6460,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,...,0,0,0,0,3,3,6,NaN,NaN,NaN
6461,6461,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,...,0,0,0,0,4,0,4,NaN,NaN,NaN
6462,6462,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6463,6463,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6465,6465,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6466,6466,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6467,6467,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,...,0,0,0,0,4,0,4,NaN,NaN,NaN
6468,6468,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6469,6469,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6471,6471,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,...,0,0,0,0,0,0,0,Q de Kock,caught,F du Plessis
6564,6564,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,1,0,1,NaN,NaN,NaN
6566,6566,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6567,6567,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6568,6568,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6569,6569,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6576,6576,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,6,0,6,NaN,NaN,NaN
6577,6577,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,1,1,2,NaN,NaN,NaN
6578,6578,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6579,6579,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,6,0,6,NaN,NaN,NaN
6580,6580,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6581,6581,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,6,0,6,NaN,NaN,NaN
6582,6582,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,1,0,1,NaN,NaN,NaN
6583,6583,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,1,0,1,NaN,NaN,NaN
6585,6585,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,1,0,1,NaN,NaN,NaN
6589,6589,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,1,0,1,NaN,NaN,NaN
6591,6591,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6592,6592,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,6,0,6,NaN,NaN,NaN
6593,6593,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,...,0,0,0,0,0,0,0,Q de Kock,caught,MS Dhoni

In [76]:
game_info[(game_info.batsman=='Q de Kock')&(game_info.batsman_runs==4)].ball

5853    2
6105    2
6461    5
6467    4
Name: ball, dtype: int64

In [128]:
dotballs=game_info[(game_info.bye_runs==0)|(game_info.legbye_runs==0)|(game_info.wide_runs==0)|(game_info.noball_runs==0)|(game_info.penalty_runs==0)].bowler.count

In [135]:
dotballs

<bound method Series.count of 5347     DL Chahar
5348     DL Chahar
5349     DL Chahar
5350     DL Chahar
5351     DL Chahar
           ...
6807    SL Malinga
6808    SL Malinga
6809    SL Malinga
6810    SL Malinga
6811    SL Malinga
Name: bowler, Length: 1465, dtype: object>

In [108]:
totalballs=game_info.ball.dropna()

In [109]:
totalballs

5347    1
5348    2
5349    3
5350    4
5351    5
       ..
6807    2
6808    3
6809    4
6810    5
6811    6
Name: ball, Length: 1465, dtype: int64

In [113]:
ratio=dotballs/totalballs
ratio.unique()

array([1.])

In [140]:
delivery[delivery.bowler=='TA Boult']

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
495,3,1,Gujarat Lions,Kolkata Knight Riders,1,1,JJ Roy,BB McCullum,TA Boult,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
496,3,1,Gujarat Lions,Kolkata Knight Riders,1,2,JJ Roy,BB McCullum,TA Boult,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
497,3,1,Gujarat Lions,Kolkata Knight Riders,1,3,JJ Roy,BB McCullum,TA Boult,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
498,3,1,Gujarat Lions,Kolkata Knight Riders,1,4,JJ Roy,BB McCullum,TA Boult,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
499,3,1,Gujarat Lions,Kolkata Knight Riders,1,5,JJ Roy,BB McCullum,TA Boult,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178813,11414,2,Chennai Super Kings,Delhi Capitals,17,2,MS Dhoni,AT Rayudu,TA Boult,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
178814,11414,2,Chennai Super Kings,Delhi Capitals,17,3,MS Dhoni,AT Rayudu,TA Boult,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
178815,11414,2,Chennai Super Kings,Delhi Capitals,17,4,MS Dhoni,AT Rayudu,TA Boult,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
178816,11414,2,Chennai Super Kings,Delhi Capitals,17,5,MS Dhoni,AT Rayudu,TA Boult,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
178817,11414,2,Chennai Super Kings,Delhi Capitals,17,6,AT Rayudu,MS Dhoni,TA Boult,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [142]:
game_info[game_info.winner=='Mumbai Indians'].toss_decision.value_counts()

field    734
bat      485
Name: toss_decision, dtype: int64

In [143]:
game_info[game_info.winner=='Chennai Super Kings'].toss_decision.value_counts()

field    246
Name: toss_decision, dtype: int64

In [144]:
game_info[game_info.winner=='Mumbai Indians'].toss_winner.value_counts()

Chennai Super Kings    724
Mumbai Indians         495
Name: toss_winner, dtype: int64

In [145]:
game_info[game_info.winner=='Chennai Super Kings'].toss_winner.value_counts()

Chennai Super Kings    246
Name: toss_winner, dtype: int64